exportPattern("^[[:alpha:]]+")

importFrom(sf,
           "read_sf",
           "st_coordinates",
           "st_intersection",
           "st_crs",
           "st_sf",
           "st_polygon",
           "st_sfc")
importFrom(dplyr,
           "group_by",
           "reframe",
           "n",
           "select")
importFrom(gfwr, "get_raster")
importFrom(jsonlite, "toJSON")
importFrom(magrittr,"%>%")
importFrom(ggplot2,
           "ggplot",
           "ggtitle",
           "geom_sf",
           "geom_point",
           "aes",
           "scale_shape_manual",
           "scale_size_continuous",
           "scale_fill_gradientn",
           "labs",
           "ggsave",
           "element_text",
           "element_blank",
           "element_line",
           "element_rect",
           "theme",
           "margin",
           

           )
#importFrom(tigris)
#importFrom(tidyverse)
#importFrom(stars)
#importFrom(raster)
#importFrom(rayshader)
importFrom(colorspace,
           "swatchplot")
#importFrom(viridis)

